<h1>Tamagotchi</h1>
<!--<form action="/pets" method='post'>
  <label for="new-pet">Name your Tamagotchi</label>
  <input id="new-pet" name="petName" type="text">
  <button type="submit">Create</button>
</form>-->

 <form id='tamagotchi-form' action='/pets' method='post'>
     <div class='form-group'>
       <label for='name' class='fancy-shadow'>Name:</label>
       <input type='text' name='petName' id='inputName' class='form-control' autocomplete="off" required>
     </div>
     <button type='submit' name='button' id='submit-form' class='btn btn-lg btn-info'>Birth</button>

</form>
