<h1>Pet Details</h1>
<h2>Name: </h2>
<h2>Age: </h2>
<h2>Hunger: </h2>
<h2>Fatigue: </h2>
<h2>Happiness: </h2>

<form action="/pets/pet-{id}" method="post">
  <button type="submit" name="button">Feed</button>
</form>
<form action="/pets/pet-{id}" method="post">
  <button type="submit" name="button">Sleep</button>
</form>
<form action="/pets/pet-{id}" method="post">
  <button type="submit" name="button">Play</button>
</form>
